#root {
  max-width: 1440px;
  margin: 0 auto;
 
}

.display-flex{
  display: flex;
}
.flex{
  display: flex;
}
.flex-col{
  flex-direction: column;
}
.w-100{
  width: 100vw;
}
.align-items-center{
  align-items: center;
}
.bg-black{
  background-color: black;
}
.c-white{
  color: white;
}
.space-between{
  justify-content: space-between;
}
.f-50{
  flex-basis: 50%;
  
}
.space-around{
  justify-content: space-around;
}